.downloads{
	margin-top: 150px;
}

img{
	width: 25%;
}

form{
	display: flex;
    justify-content: center;
}

button[type=submit] {
  	background: #d62d20;
  	border: 0;
  	color: #fff;
  	padding: 8px 16px;
  	transition: background 0.2s;
    font-size: 25px;
    font-family: 'Pattaya', sans-serif;
}
